@font-face {
    font-family: 'Shabnam';
    src: url('@/assets/fonts/Shabnam.woff2') format('woff2'),
    url('@/assets/fonts/Shabnam.woff') format('woff'),
    url('@/assets/fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('@/assets/fonts/Shabnam-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Shabnam-Bold.woff') format('woff'),
    url('@/assets/fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Shabnam';
    src: url('@/assets/fonts/Shabnam-Light.woff2') format('woff2'),
    url('@/assets/fonts/Shabnam-Light.woff') format('woff'),
    url('@/assets/fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}
html, body, #app {
    font-family: 'Shabnam', sans-serif !important;
}
